body {
  font-family: Arial;
  background:yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: pink;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.btn-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #007bff;
  color: white;
}

.correct {
  background: #28a745;
  color: white;
}

.wrong {
  background: #dc3545;
  color: white;
}

.hide {
  display: none;
}